snippet dt "def test" b
def test_$1(self):
    $2

endsnippet

snippet ds "def setup" b
def setUp(self):
    super($1, self).setUp()
    $2

endsnippet

snippet dbt "test class" b
from uniregistrar.tests.base import DatabaseTestBase


class $1Tests(DatabaseTestBase):
    def setUp(self):
        super($1Tests, self).setUp()

    def test_$2(self):
        $3
endsnippet
